$color1:#0e750e;
/* blog.html*/
.container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 400px  100px;
    gap: 0 0 ;
    grid-auto-flow: row;
    grid-template-areas:
    "header header"
    "blog blog"
    "footer footer";
    width: 100%;
    height: 100%;
}
#blogContenido {
grid-area: blog;
display: flex;
flex-direction: column;
justify-content: center;
font-size: 1.5rem;
margin-top: 10rem;
    article{
        font-size: 1.5rem;
        text-align: center;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
}



.infoNota {
width: 60%;
text-align: left;
    h2{
        color:#25ba25;
        padding-bottom: 10px;
        padding-top:20px;
    }
    p{
        padding: 10px;
    }
}


.videoNota{
    width: 40%;
    padding: 10px;
}

//mixins - inicio

@mixin caracteristicas ($width, $height, $bcolor) {
    width: $width;
    height: $height;
    background-color: $bcolor;
}

.art1 {
    @include caracteristicas (600px, 300px, rgb(243, 243, 243));
}

.art2 {
    @include caracteristicas (400px, 500px, rgb(212, 212, 212));
}

//mixins - fin

/* fin blog.html*/
