$color1:#0e750e;
/* contacto.html*/
.container5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 600px  100px;
    gap: 0 0 ;
    grid-auto-flow: row;
    grid-template-areas:
    "header header"
    "contacto contacto"
    "footer footer";
    width: 100%;
    height: 100%;
}
#pagContacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.inputContacto {
    background-color: rgb(213, 222, 224);
    margin: auto;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    padding-left: 12px;
    border: lightgray solid 1px;
}

.formContacto {
    // display: grid;
    // text-align: center;
    select{
        background-color: rgb(213, 222, 224);
        margin: auto;
        margin-bottom: 10px;
        height: 30px;
        width: 100%;
        text-align: center;
        border: lightgray solid 1px;
    }
    textarea {
        background-color: rgb(213, 222, 224);
        margin: auto;
        margin-bottom: 10px;
        height: 200px;
        width: 100%;
        text-align: center;
        border: lightgray solid 1px;
        padding: 10px;
        font-size: 1.5rem;
    }
    fieldset {
        padding:20px;
    }
    label {
        float: left;
    }
    .centradok{
    text-align: center;
    margin: 0 auto
    }
}

.btnEnviarContacto {
    background-color: $color1;
    color: #fff;
    font-weight: 700;
    margin: auto;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    text-align: center;
    border: lightgray solid 1px;
}

// label[for="email"]{
//     margin-left: 16px;
// }

/* fin contacto.html*/