/* servicios.html*/
$color1:#0e750e;
.container3 {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 108px auto 100px;
    gap: 0 0 ;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "servicio"
    "footer";
    width: 85%;
    height: 100%;
    margin: 0 auto;
}
.ContenedorServicios {
    grid-area: servicio;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 2rem;
}

.serviciosPag{
padding: 2rem;
    h2{
        padding-top: 2rem;
    }
}

.texto{
    color:black;
    text-shadow: 1px black;
    font-size: 1.5rem;
}

.serviciosDestacados {
    grid-area: servicios;
    width: 100%;
    height: auto;
    h2{
        color:black;
        padding-top:1rem;
        font-weight: 900;
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 2rem;
    }
}
//maps - incio

$servicios: (
    /*Declaramos nuestro mapa*/
    s1: #0E750E,
    s2: #62E645,
    s3: #95FC58,
    s4:#9DE645,
    s5:#CEFE4C,
    );

/*Creamos el bucle para usar los valores del mapa*/
@each $primervalor, $segundovalor in $servicios {
    .servicios--#{$primervalor} {
        grid-area: servicio;
        @extend .texto;
        display: flex;
        flex-direction: column;
        border: 3px solid $segundovalor;
        border-radius: 20px;
        height: auto;
        width: 100%;
        text-align: center;
        background-color: #f0eff0;
        padding-bottom: 20rem;
        margin:0 auto;
        margin-bottom: 2rem;
        padding:1rem;
    }
}


/*Fin servicios.html*/