@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
$color1:#0e750e;
@import "acercade";
@import "blog";
@import "contacto";
@import "servicios";

html{
	font-size: 62.5%; /*Es igual a 10px*/
    scroll-behavior: smooth;/*Desplazamiento suave*/
}
*{
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
/*Enlaces*/
a{
    text-decoration: none;
    text-transform: capitalize;
}
/*Fin Enlaces*/

/*index.html*/


@media only screen and (max-width: 376px) {

    header{
        grid-area: header;
        background-color: rgb(218, 216, 218);
        display: flex;
        flex-direction: column!important;
        justify-content:center;
        align-items: center;
        height: 190px;
        z-index: 100;
    }
    .clientes{
        display: none;
    }
    #section3 h3{
        display: none;
    }
    .acercaDeContenedor{
        flex-direction: column!important;
    }
    .ContenedorServicios{
        flex-direction: column!important;
        margin-top: 3rem;
        height: 100%;
    }
    .serviciosPag{
        padding-bottom: 20rem;
    }
    #blogContenido{
        padding-top: 20rem;
    }
    section.hero{
        margin: 0;
        display: none;
    }
    .servicios__inicio{
        margin-top: -230px;
    }
    #section3{
        margin: 0;
        display:none;
    }
    #pagContacto{
        padding-top: 20rem;
    }


}

// .navbar-toggler {
//     margin-top:50px!important;
//     position: sticky;
//     right: 0px;
//     top: 100px;
// }
// .navbar-collapse {
//     // position:sticky;
//     // right: 150px;
//     // top: 200px;
//     background-color: #f0eff0;

// }
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 300px 250px 100px;
    gap: 0 0 ;
    grid-auto-flow: row;
    grid-template-areas:
    "header  header"
    "hero hero"
    "servicios servicios"
    "footer footer";
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
    background-color: rgb(240, 239, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    position: sticky;
    top: 0px;
    z-index: 100;}

.navbar-dark{
background-color:rgb(240, 239, 240)!important;
    a{
    text-decoration: none!important;
    color: black!important;
    font-size: 1.5rem!important;
    
        &:hover{
            color:rgb(107, 106, 106)!important;

        }
    }
    li{
        list-style: none!important;
        margin: 0.2rem!important;
        padding: 0.5rem!important;
            &:hover{
                background-color: rgb(189, 185, 185)!important;
            }
    }
}

.navbar-toggler {
    background-color: #9ea59e;
}


/*Barra de navegacion principal*/

/* icono con fontawesome */
footer{
grid-area: footer;
    .whatsapp {
        height: 50px;
        width: 50px;
        background-color: #34eb43;
        border: 2px sold #FAFAFA;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-radius: 50%;
        text-align: center;
            i {
                color:#fff;
                font-size: 25px;
                line-height: 50px;
                text-shadow: 0 0 40px #000;
            }
            &:hover{
                color:$color1
            }
    }
}

.instagram{
height: 50px;
width: 50px;
background-color: #adb8ad;
border: 2px sold #FAFAFA;
position: fixed;
left: 20px;
top: 220px;
border-radius: 50%;
text-align: center;
z-index: 100;
        &:hover{
            background-color: #9ea59e;
        }
        i{
            color:#fff;
            font-size: 25px;
            line-height: 50px;
            text-shadow: 0 0 40px #000;
        }
}

.linkedin{
height: 50px;
width: 50px;
background-color: #adb8ad;
border: 2px sold #FAFAFA;
position:fixed;
left: 20px;
top: 280px;
border-radius: 50%;
text-align: center;
z-index: 100;
    &:hover{
        background-color: #9ea59e;
    }
    i{
        color:#fff;
        font-size: 25px;
        line-height: 50px;
        text-shadow: 0 0 40px #000;
    }
}

/*hero*/

.hero {
grid-area: hero;
width: 100%;
    h1{
        color:#25ba25;
        text-shadow: 1px 1px 2px rgb(233, 231, 231);
        font-size: 4rem;
    }
    h2{
        color:$color1;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    button {
        background-color: #ffb10a;
        border: 0;
        padding: 1rem 7rem;
        border-radius: 0.2rem;
        color: white;
        transform: skew(2deg);
            &:hover{
                background-color: rgb(240, 166, 8);
                transform: skew(0.2deg,0.2deg);
            }
            a{
                text-decoration: none;
                color: white;
                font-weight: 600;
            }
    }
}

/*Fin section1*/

/*section2*/
#section2 {
    grid-area: servicios;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.iconoServicio1, .iconoServicio2, .iconoServicio3, .iconoServicio4,.iconoServicio5 {
background-color: $color1;
border-radius: 50%;
height: 100px;
width: 100px;
display: inline-block!important;
margin: 5rem;
    i{
        color:#fff;
        font-size: 4rem;
        line-height:100px!important;
        text-shadow: 0 0 40px #000;
            &:hover{
                background-image: linear-gradient($color1, #17a017);
                border-radius: 50%;
                height: 100px;
                width:100px;
                transform:scale(1.05);
                transition: all 0,7s;
            }
    }
    span{
        color:#000;
        text-transform:none;
        margin-top: 20px!important;
        position: relative;
        top: 30px!important;
    }
    }

.servicios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 100;
    margin-bottom: 100px;
}

/*Fin section2*/

/*section3*/

/*Fin section3*/

/*Fin index.html*/